/* *, ::before, ::after {
    box-sizing: border-box;
     margin: 0px;
    padding: 0px;
    
  } */
 
   html,body{
    height: 98%;  
    font-family: var(--font-family);
    background-color: #f1f1f1;
  }
  
  
  /* .app{
    display: block;
    background-color: #f1f1f1;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px;
    padding: 0px;    
  } */
